*{
	margin:0;
	padding:0;
}

#banner{
	width:100%;
    height:100vh;
    position: relative;
}

#bannerDesc {
    position: absolute;
    width: 45%;
    height: 30vh;
    padding: 3%;
    text-align: justify;
    border-radius: 20px;
    top: 35%;
    left: 24%;
}

#bannerDesc > p{
    font-size : 25px;
    line-height: 30px;
    font-weight: bold;
    color: blue;
    text-shadow: black 1px 0 10px;
}

#bannerDesc > h3{
    font-size:32px;
    line-height: 40px;
    text-shadow: white 1px 0 10px;
}

.name{
    font-size: 20px;
    letter-spacing: 10px;
}

.map{
    height:220px;
}

.post{
    width: 220px;
    height:294px;
    object-fit: cover;
    border-radius: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
}

#top {
    display: flex;
}

.title {
    color: #988888;
    font-size: bold;
    font-weight: bold;
    margin-left: 10px;
    letter-spacing: 10px;
}

nav {
    background-color: #ECAFFF;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 5vh;
    align-items: center;
}

nav a {
    color: #988888;
    text-decoration: none;
    margin: 0 30px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

#travelling {
    text-decoration: none;
    color: blue;
    background-color: white;
    font-size: 50px;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2%;
}
.desc {
    margin: 2%;
    padding: 2%;
}

.social {
    width: 60px;
    height: 60px;
    padding: 1%;
}

.header {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 2%;
}

#contactBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    list-style-type: none;
}

li {
    padding: 2%;
}


input{
    width:60%;
    height:30px;
    margin:1%;
}
form{
    padding:2%;
}


#submit{
    padding:2%;
    background-color: #ECFAFF;
    width:20%;
    border-radius: 5px;
    align-content: center;
    border: 2px solid darkblue;
}

#bottom{
    text-align: center;
    height:30vh;
    padding:3%;
    background-color: #F5F5F5;
}

.big{
    width:40%;
}

.small{
    width:20%;
}
